<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <title>My Profile</title>
</head>

<body>
<div class="infoAndRequest">
<div class="infoUser">
<h2>Welcome <span th:text="${currentUser.username}"></span></h2>
<p>Name : <span th:text="${currentUser.firstname} +' ' + ${currentUser.lastname}"></span></p>
<p>Date of birth : <span th:text="${currentUser.dateOfBirth}"></span></p>
<p>Bio : <span th:text="${currentUser.bio}"></span></p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" >Add Request</button>
</div>
<br>


<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" >Add Request</button>-->

<br>
<div class="cardrequest">

    <div th:each="i:${requests}">


        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <div class="header-card">
                <h5 class="card-title">Field : <span th:text="${i.field}"></span>  </h5>
                <h5 class="card-title"><span  th:text="${i.status}"></span>  </h5>
              </div>
                <p class="card-text"><span id="bodyc" name="body" th:text="${i.body}"></span></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Name : <span th:text="${i.getUser().getUsername()}"></span></li>
                <li class="list-group-item">Phone : <span th:text="${i.phone}"></span></li>
                <li class="list-group-item">Due Date : <span th:text="${i.date}"></span></li>
            </ul>
            <div class="card-body continer-buttom-card"  >
                <form action="/deleteRequest"  method="post"  class="form_buttom">
                    <input type="hidden" class="form-control" id="id" name="id" aria-describedby="id" th:value="${i.id}">
                    <button type="submit" class="btn btn-danger" >Delete</button>
                </form>
<!--           Buttom Update Model    -->

                <a th:href="@{'/getcard/'+${i.id}}" id="editCardModal">
                    <button  class="btn btn-danger" >    Update  </button>
                </a>

            </div>

        </div>
    </div>
</div>
</div>
<!--Add Request modal-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <form  method="POST" action="/addRequest">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Request</h5>
                    <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="body" class="col-form-label">Body:</label>
                        <input type="text" class="form-control" id="body" name="body">
                    </div>

                    <div class="mb-3">
                        <label for="field" class="col-form-label">Field:</label>
                        <input type="text" class="form-control" id="field" name="field">
                    </div>

                    <div class="mb-3">
                        <label for="date" class="col-form-label">Date:</label>
                        <input type="text" class="form-control" id="date" name="date">
                    </div>

                    <div class="mb-3">
                        <label for="time" class="col-form-label">time:</label>
                        <input type="text" class="form-control" id="time" name="time">
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="col-form-label">Phone number :</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>

























