<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="i:${allRequests}">
    <p>Username : <span th:text="${i.getUser().getUsername()}"></span></p>
    <p>Body : <span th:text="${i.body}"></span></p>
    <p>Field : <span th:text="${i.field}"></span></p>
    <p>Date : <span th:text="${i.date}"></span></p>
    <p>Time : <span th:text="${i.time}"></span></p>
    <p>Phone : <span th:text="${i.phone}"></span></p>
    <p>ID : <span th:text="${i.id}"></span></p>
    <p>--------</p>
</div>
</body>
</html>