<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/addSkill">
  <br/>
  <label for="description">description         :</label>
  <textarea id="description" name="description" cols="40" placeholder="Type what you want to share here about describe..."> </textarea>
  <br>
  <label for="skills">skills        :</label>
  <textarea id="skills" name="skills" cols="40" placeholder="Type what you want to share here about your fields..."> </textarea>
  <br>
  <label for="email">email         :</label>
  <textarea id="email" name="email" cols="40" placeholder="Type what you want to share here..."> </textarea>
  <br>
  <label for="field">field         :</label>
  <textarea id="field" name="field" cols="40" placeholder="Type what you want to share here..."> </textarea>
  <br>
  <button type="submit">Post</button>
</form>
</body>
</html>